# Node
node_modules/
dist/
build/
.npm/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

env/
venv/
.venv/

# Environment
.env
.env.*
!.env.example

# ChromaDB
chroma_db/
vector_db/
db/
chroma/

# Uploaded Files
uploads/
temp/
tmp/

# Logs
*.log
logs/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
venv/
venv2/
.venv/